body {
    font-family: monospace;
    font-size: 25px;
    background-color: blanchedalmond;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: salmon;
}

ol:hover {
    cursor: pointer;
}

li:hover {
    background-color: salmon;
}

header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

h1 , p {
    text-align: center;
}


button {
font-size: 25px;
margin: 0 auto;
display: block;
}

input {
    font-size: 25px;
}



.hide {
    display: none;
}